@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
.homepage-background {
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Set text color */
  }
  